-<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <td>GitHub Username</td>
          <% for (let assignment of assignmentNames) { %>
              <td>
                <%= assignment %>
              </td>
            <% }; %>
        </tr>
      </thead>
      <tbody>
        <% let i = 0 %>
        <% data.forEach(d => { %>
          <tr>
            <td><%= i++ + 1 %></td>
            <td><%= d.user.login %></td>
            <% d.assignments.forEach(asgmt => { %>
              <td>
                <a target="_blank" href="https://travis-ci.org/<%= CLASSROOM_ORG_NAME %>/<%= asgmt.name %>"><img src="https://travis-ci.org/<%= CLASSROOM_ORG_NAME %>/<%= asgmt.name %>.svg?branch=master"></a><br/>
                <small><a href="<%= asgmt.url %>"><%= asgmt.name %></a></small>
                <small><a href="https://hft-stuttgart-ipr.github.io/<%= asgmt.name %>">Public URL</a></small>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>